* {
  background-color: #f2f2f2;
}

.main {
  color:  #666666;
}

.navigation {
  padding-top: 50px;
}

#jumbo {
  padding-top: 50px;
}

#profile-img {
  float: right;
  outline-style: groove;
  outline-width: thin;
  outline-color: white;
  width: 292.5px;
  height: 345;
}
