* {
  background-color: #f2f2f2;
}

.main {
  color:  #666666;
}

.navigation {
  padding-top: 50px;
}

.space {
  padding-top: 30px;
}

#name {
  font-size: 125px;
  font-weight: bold;
}

#profile-img {
  float: right;
  outline-style: groove;
  outline-width: thin;
  outline-color: white;
  width: 300px;
}
